.grid-gallery {
    display: flex;
    flex-wrap: wrap;
}
.grid-gallery::after {
    content: '';
    flex-grow: 999999999;
}
.grid-gallery .grid-image-container {
    margin: 2px;
    background-color: violet;
    position: relative;
}
.grid-gallery .grid-padder{
    display: block;
}

.grid-gallery .grid-image {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
}